<%= form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
<div class="error_explanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this Restaurant from being saved:</h2>

    <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.label :capcity %>
    <%= f.text_area :capcity %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>