<h3>Reservations</h3>

<p>Reservations for <%= @restaurant.name %></p>

<% @restaurant.reservations.each do |review| %>

<p>
    <%= reservation.comment %>
<% if reservation.user != nil %>
    <em>by <%= rservation.user.email %></em>
    Added on: <%= reservation.created_at %>
    <% end %>
</p>
<% end %>


<% if current_user %>
<h4>New Reservation</h4>

<%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
    <div class="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this review from being saved:</h2>

<ul>
    <% @reservation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
    </div>
    <% end %>

    <div class="field"><%= f.label :comment %>
    <%= f.text_area :comment %></div>
    <div class="actions"><%= f.submit %></div>
    <% end %>

    <% else %>
    <p>Please <%= link_to "log in", new_session_path %> to add a review</p>
    <% end %>